.mobile-div {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    align-items: center;
    width: 100vw;
    padding: 0rem 1rem 0 1rem;
    position: fixed;
    bottom: 0;
    z-index: 5000;
    background: #FFFFFF;
    border-top: 1px solid #C8C8C8;
}

.mobile-footer-div.active {
    border-top: 4px solid #2E0052;
}

.mobile-footer-div {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem 0.2rem 0.2rem 0.2rem;
    cursor: pointer;
}

.mobile-footer-div span {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    padding: 0.4rem 0 0 0;
    font-size: 0.87rem;
}

.mobile-cart-count {
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.3rem;
    border-style: none;
    border-radius: 100%;
    background: #2DAD00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    top: 0;
    right: -4;
    transform: translate(50%, -50%);
}

.mobile-cart-countImg-div {
    position: relative;
    display: flex;
}